header {
    width: 100%;
    float: left;
    text-align: center;
    font-family: sans-serif;
    /*background-color: aquamarine;*/
}

nav {
    width: 20%;
    float: left;
    /*background-color: blueviolet;*/
}

main {
    width: 60%;
    float: left;
    font-size: large;
   /* background-color: bisque;*/
}

footer {
    width: 100%;
    float: left;
    text-align: center;
    font-size: small;
    font-weight: bold;
    /*background-color: lime;*/
}

main img {
    width: 250px;
    display: block;
    margin: 0 auto;
}

main p {
    margin-top: 30px;
    text-indent: 25px;
}

/* Menus */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #F1F1F1;
    border: 1px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* menu hover */
li a:hover {
    background-color: #555;
    color: white;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}